nextflowVersion = '>=20.01.0'

// Set nextflow configuration profiles
profiles {
    local {
        includeConfig 'conf/base.config'
    }

    test {
        includeConfig 'conf/test.config'
    }

    lsf {
        includeConfig 'conf/base.config'
        includeConfig 'conf/lsf.config'
    }

    nih_biowulf {
        includeConfig 'conf/base.config'
        includeConfig 'conf/nih_biowulf.config'
    }

    lsf_hgi {
        includeConfig 'conf/base_hgi.config'
        includeConfig 'conf/lsf_hgi.config'
    }
} // end profiles
