// Slurm configuration for the NIH Biowulf cluster

process {
    executor='slurm'
    queue = 'norm'
    time = '2000m'
    memory = '35GB'
    pollInterval = '1 min'
    queueStatInterval = '2 min'

    withLabel: gpu {
        queue = 'gpu'
        clusterOptions = '--partition=gpu --gres=gpu:k80:1'
    }
    withName: normalize_and_pca {
        memory = { 150.GB * task.attempt }
        cpus = 8
    }
    withName: lisi {
        memory = { 200.GB * task.attempt }
        cpus = 1
    }
    withName: cluster {
        memory = { 150.GB * task.attempt }
        cpus = 8
    }
    withName: cluster_validate_resolution_keras {
        memory = { 150.GB * task.attempt }
        cpus = 1
    }
    withName: cluster_markers {
        memory = { 80.GB * task.attempt }
        cpus = 4
    }
    withName: cellex_cluster_markers {
        memory = { 100.GB * task.attempt }
    }
    withName: plot_known_markers {
        memory = { 75.GB * task.attempt }
    }
}

singularity {
    enabled     = true
    autoMounts  = true
    // USER should set this via NXF_SINGULARITY_CACHEDIR
    // cacheDir = '/lustre/scratch118/humgen/resources/containers/'
    //runOptions = '--dns 172.18.255.1,172.18.255.2,172.18.255.3'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

executor {
    name = 'slurm'
}
