// General resource configuration for test run on local host
workDir =    "${projectDir}/../test_work"
//workDir is implicitly defined

params {
  output_dir = "${projectDir}/../test_output"
}

timeline {
  enabled = true
  file = "${projectDir}/../test_reports/timeline.html"
}

trace {
  enabled = true
  file = "${projectDir}/../test_reports/trace.txt"
}

conda {
    cacheDir = "${projectDir}/../nf_cacheDir"
}

docker {
  enabled = false
  envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

singularity {
    enabled     = true
    autoMounts  = true
    // USER could set this via NXF_SINGULARITY_CACHEDIR
    cacheDir = "${projectDir}/../singularity_images"
    runOptions = '--containall'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

process {
    errorStrategy = 'terminate'
    container =	'wtsihgi/nf_qc_cluster:2.4'
    cpus = 1
    memory = 4.GB
    publish_mode = "symlink" // symlink or copy

    withName: normalize_and_pca {
        cpus = 4
    }

    withName: cluster_validate_resolution_sklearn {
        cpus = 4
    }

    withName: sccaf_assess_clustering {
      container =	'wtsihgi/nf_qc_cluster:sccaf_1.5'
    }

    withName: sccaf_optimize_clustering {
      container =	'wtsihgi/nf_qc_cluster:sccaf_1.5'
    }

    withName: assign_cell_types_azimuth {
      stageInMode = 'copy'
      container = 'wtsihgi/seurat_azimuth_pbmc:1.2'
    }
}
